.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.hero-title {
  font-size: 4rem;
  margin: 0;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.spacer {
  height: 100vh;
  background-color: #111;
}
