.overlay-scene {
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.overlay-title {
  font-size: 4rem;
  color: white;
  margin: 0;
}

.overlay-subtitle {
  font-size: 1.5rem;
  color: #aaa;
  margin-top: 1rem;
}
