.second-section {
  position: relative; /* ← Agrega esto */
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.second-title {
  font-size: 3rem;
}

.parallax-text {
  position: absolute;
  bottom: 10%;
  font-size: 1.5rem;
  color: #aaa;
}
