.third-section {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
}

.third-box {
  background-color: #222;
  padding: 3rem;
  border-radius: 12px;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}


.third-box h3 {
  color: #fff;
}
