.transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #000 0%, #111 100%);
  pointer-events: none;
  z-index: 10;
}
